
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
  

header{
    background-color: #0000FF;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.imgdiv{
    display: flex;
    gap: 20px;
    align-items: center;
}
  
.btn {
    background-color: #0000FF;
    color:#f0f0f0;
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: none;
    position: relative;
    font-size: 18px;
}

.bx {
    font-size: 1.1rem;
}



.imgmain{
    width: 100vh;
}

.dropdown {
    position: absolute;
    width: 250px;
    box-shadow: rgba(78, 78, 78, 0.05) 0px 6px 10px 0px;
    border-radius: 4px;
    margin-top: 0.3rem;
    background: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    cursor: pointer;
}
  
.dropdown li {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}
  
.dropdown li:hover {
    background-color: #1E90FF;
    color: white;
}
  
.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

